<div class="footer">
    <p>Copyright &copy; 2025</p>
    <p>Powered by Handlebars</p>
    <p>Author Mauricio Ga. Lúquez</p>
    <p>
        <a href="https://www.npmjs.com/settings/mauricio776101/packages">npm</a>
        <a href="https://github.com/HX-MLuquez">GitHub</a>
    </p>
    <p>Version 1.0.0</p>
</div>  